nav {
  background-color: #007BFF;
  /* Blue color */
  color: white;
  text-align: center;
  padding: 15px;
  /* Increased padding for the navbar */
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  /* Adjusted padding for the navbar buttons */
  margin: 0 10px;
  border-radius: 8px;
  background-color: #0056b3;
  /* Darker blue color */
}

