<app-topbar></app-topbar>
<table>
  <tr>
    <th>
      Mon
    </th>
    <th>
      Tue
    </th>
    <th>
      Wed
    </th>
    <th>
      Thu
    </th>
    <th>
      Fri
    </th>
    <th>
      Sat
    </th>
    <th>
      Sun
    </th>
  </tr>
  <tr>
    <td class="grey">30</td>
    <td class="grey">31</td>
    <td class="grey">1</td>
    <td class="grey">2</td>
    <td class="grey">3</td>
    <td class="grey">4</td>
    <td class="grey">5</td>
  </tr>
  <tr>
    <td class="grey">6</td>
    <td class="grey">7</td>
    <td class="grey">8</td>
    <td class="grey">9</td>
    <td class="grey">10</td>
    <td class="red" [routerLink]="['/offers']">11 - 4 offers</td>
    <td class="orange" [routerLink]="['/offers']">12 - 2 offers</td>
  </tr>
  <tr>
    <td>13</td>
    <td class="orange" [routerLink]="['/offers']">14 - 1 offer </td>
    <td>15</td>
    <td class="orange" [routerLink]="['/offers']">16 - 1 offer</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
  </tr>
  <tr>
    <td>20</td>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
  </tr>
  <tr>
    <td>27</td>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  </table>
<app-bottombar></app-bottombar>
