ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding: 0.25em 0.25em;
  justify-content: space-between;
}
.btn {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  padding: 0.0em 0.5em;
  background-color: orange;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}
.ctr {
  margin: auto;

}
.right {
  text-align: right;
  display:flex;

}
.lol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
